.petshop-list-container {
    height: 300px;
    position: absolute;
    top: 91px;
    margin-bottom: 0;
    z-index: 999;
    left: 0;
    right: 0;
    background: linear-gradient(
        180deg,
     #FFF 55.47%,
      rgba(255, 255, 255, 0.00) 100%
      );
}

.petshop-list {
    padding: 15px;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    margin-top: 15px;
}